* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  /* font-size: 4.5rem; */
  /* font-size: 2rem; */
  font-size: 3rem;
  color: lightgrey;
}

section:nth-child(1) {
  background-color: lightcoral;
}
section:nth-child(2) {
  background-color: lightblue;
}
section:nth-child(3) {
  background-color: lightpink;
}
section:nth-child(4) {
  background-color: lightcyan;
}
section:nth-child(5) {
  background-color: lightseagreen;
}
